.crew{
	background-image: url('../../Images/background-crew-mobile.jpg');
	padding-top: 135px;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;

	
	width: 100vw;
	min-height: 100vh;
	height: 100%;

	text-align: center;
}

.crew__left > img{
	height: 230px;
	border-bottom: 1px solid #383B4B;
	z-index: 100;
}

.persons{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 150px;
	margin-top: 30px;
	margin-bottom: 32px;
	list-style-type: none;
}

.persons > .dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	opacity: 17.44%;
	cursor: pointer;
}

.active__person{
	opacity: 100% !important;
}

.infos{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.crew__infos{
	display: flex;
	flex-direction: column;
}

.info__role{
	font-family: 'Bellefair', sans-serif;
	font-size: clamp(16px, 3vw, 32px);
	opacity: 49.51%;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.info__names{
	font-family: 'Bellefair', sans-serif;
	font-size: clamp(24px, 4vw, 56px);
	text-transform: uppercase;
}

.crew__bio{
	text-align: center;
	font-family: 'Barlow', sans-serif;
	color: #D0D6F9;
	font-size: clamp(15px, 2vw, 18px);
	line-height: 25px;
	margin: 16px auto;
	width: 72%;
}


@media screen and (min-width: 53em){
	.crew{
		background-image: url('../../Images/background-crew-desktop.jpg');
		padding-top: 135px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		text-align: left;
	}

	.crew__content{
		display: flex;
		flex-direction: row-reverse;
		margin: 0 15vw;
	}

	.crew__right{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		width: 70%;
		padding-top: 70px;
	}

	.crew__left{
		width: 30%;
	}

	.crew__left > img{
		border-bottom: none;
		position: absolute;
		bottom: 0;
		left: 55%;
		height: 601px;
	}

	.info__role{
		margin-bottom: 15px;
	}

	.info__names{
		margin-bottom: 27px;
	}

	.crew__bio{
		text-align: left;
		margin: 0;
		margin-bottom: 100px;
	}

	.persons{
		margin: 0;
	}

	.dot:not(.active__person):hover {
		opacity: 50.01%;
	}
}









