.home{
	padding-top: 135px;
	background-image: url('../../Images/background-home-mobile.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 100vh;
	width: 100vw;
}

.home__left, .home__right{
	width: 60vw;
	margin: 0 auto;
	text-align: center;
}


.home__left > p:nth-of-type(1){
	font-family: 'Barlow Condensed', sans-serif;
	font-size: clamp(16px, 2vw, 28px);
	color: #D0D6F9;
	text-transform: uppercase;
	margin-bottom: 16px;
	letter-spacing: 2.7px;
}

.home__left > p:nth-of-type(2){
	text-transform: uppercase;
	font-family: 'Bellefair', sans-serif;
	font-size: clamp(80px, 10vw, 150px);
	margin-bottom: 16px;
}

.home__left > p:nth-of-type(3){
	line-height: 25px;
	font-size: clamp(15px, 2vw, 18px);
	font-family: 'Barlow', sans-serif;
	color: #D0D6F9;
}

.home__right{
	display: grid;
	place-items: center;
}

.round__btn{
 	margin-top: 60px;
	background-color: white;
	width: clamp(150px, 20vw, 274px);
	height: clamp(150px, 20vw, 274px);
	border-radius: 50%;
	display: grid;
	place-items: center;

	text-transform: uppercase;
	font-family: 'Bellefair', sans-serif;
	color: black;
	font-size: clamp(20px, 3vw, 32px);
	letter-spacing: 1.25px;
}

.round__btn:visited{
	color: black;
}


@media screen and (min-width: 53em){
	.home{
		background-image: url('../../Images/background-home-desktop.jpg');
	}

	.home__content{
		display: flex;
		padding-top: 150px;
		width: 85vw;
		margin: 0 auto;
	}

	.home__left > p:nth-of-type(3){
		width: 470px;
	}

	.home__left, .home__right{
		width: auto;
		margin: 0 auto;
		text-align: left;
	}

	.round__btn{
		outline-width: 0px;
		outline-style: solid;
		outline-color: rgb(255, 255, 255, 0.1036);

	 	transition: outline-width .1s ease-in;
	}

	.round__btn:hover{
		outline-width: 65px;
		outline-style: solid;
		outline-color: rgb(255, 255, 255, 0.1036);

	 	transition: outline-width .1s ease-in;
	}


}