.technology{
	background-image: url('../../Images/background-destination-mobile.jpg');
	padding-top: 135px;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;

	
	width: 100vw;
	text-align: center;
}

.technology > .line{
	font-family: 'Barlow Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2.7px;
	margin-bottom: 40px;
}

.technology > .line strong{
	color: grey;
	margin-right: 12px;
}

.technology > img{
	width: 100%;
	margin-bottom: 30px;
}

.vehicles{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 152px;
	margin-bottom: 30px;
	list-style-type: none;
}

.vehicles > .circle{
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	color: white;
	font-size: 16px;
	border: 1px solid #77777D;
	font-family: 'Bellefair', sans-serif;
	cursor: pointer;
}

.active__vehicle{
	background-color: white;
	color: #0B0D17 !important;
	border: 1px solid white !important;
}


.infos{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.info__title{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	letter-spacing: 2.36px;
	text-transform: uppercase;
	color: #D0D6F9;
	margin-bottom: 8px;
}

.info__type{
	font-family: 'Bellefair', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.description{
	text-align: center;
	font-family: 'Barlow', sans-serif;
	color: #D0D6F9;
	font-size: 15px;
	line-height: 25px;
	margin-top: 16px;
}

.description > .line{
	color: #D0D6F9;
	font-size: 15px;
	line-height: 25px;
}


