.technology{
	background-image: url('../../Images/background-technology-mobile.jpg');
	padding-top: 135px;
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;

	
	width: 100vw;
	min-height: 100vh;
	height: 100%;

	text-align: center;
}

.technology__left{
	width: 100vw;
}

.technology__left > img{
	width: 100%;
	margin-bottom: 30px;
}

.vehicles{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 152px;
	margin-bottom: 30px;
	list-style-type: none;
}

.vehicles > .circle{
	display: grid;
	place-items: center;
	width: clamp(40px, 4vw, 80px);
	height: clamp(40px, 4vw, 80px);
	border-radius: 100%;
	color: white;
	font-size: clamp(16px, 2vw, 32px);
	border: 1px solid #77777D;
	font-family: 'Bellefair', sans-serif;
	cursor: pointer;
}

.active__vehicle{
	background-color: white;
	color: #0B0D17 !important;
	border: 1px solid white !important;
}


.infos{
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.info__title{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: clamp(14px, 2vw, 16px);
	letter-spacing: 2.36px;
	text-transform: uppercase;
	color: #D0D6F9;
	margin-bottom: 8px;
}

.technology__text{
	text-align: center;
	font-family: 'Barlow', sans-serif;
	color: #D0D6F9;
	min-width: 200px;
	max-width: 450px;
	margin: 0 auto;
	font-size: clamp(15px, 2vw, 18px);
	line-height: clamp(25px, 3vw, 32px);
}



@media screen and (min-width: 53em){
	.technology{
		background-image: url('../../Images/background-technology-desktop.jpg');
	}

	.technology__content{
		display: flex;
		flex-direction: row-reverse;
	}

	.technology__left{
		width: 35%;
		height: 517px;
		position: relative;
	}

	.technology__left > img{
		margin-bottom: 0;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	.technology__right{
		display: flex;
		width: 65%;
		padding-left: 15vw;
	}

	.vehicles{
		flex-direction: column;
		height: 50%;
		width: 70px;
		margin: auto 0;
	}

	.vehicles > .circle:not(.active__vehicle):hover {
		border: 1px solid white;
	}

	.infos{
		text-align: left;
		justify-content: center;
	}

	.technology__text{
		text-align: left;
	}
}







