.destination{
	background-image: url('../../Images/background-destination-mobile.jpg');
	padding-top: 135px;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;

	
	width: 100vw;
	text-align: center;
}

.title__wrap > .title{
	font-family: 'Barlow Condensed', sans-serif;
	text-transform: uppercase;
	font-size: clamp(16px, 2vw, 28px);
	letter-spacing: 2.7px;
	margin-bottom: 40px;
}

.title__wrap > .title strong{
	color: grey;
	margin-right: 12px;
}

.destination__left > img{
	width: clamp(170px, 25vw, 445px);
	margin-bottom: 30px;
}

.planets{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 330px;
	list-style-type: none;
	margin-bottom: 30px;
}

.planets > li{
	text-transform: uppercase;
	color: #D0D6F9;
	font-size: 14px;
	letter-spacing: 2.36px;
	height: 28px;
	cursor: pointer;
}

.active__planet{
	color: white !important;
	font-weight: bold;
	border-bottom: 3px solid white;
}

.planet{
	font-family: 'Bellefair', sans-serif;
	font-size: clamp(56px, 8vw, 100px);
	text-transform: uppercase;
}

.destination__description{
	font-family: 'Barlow', sans-serif;
	color: #D0D6F9;
	font-size: 15px;
	line-height: 25px;
	width: 72%;
	margin: 0 auto 20px auto;
}

.hr{
	width: 70vw;
	height: 1px;
	margin: 0 auto;
	background-color: #383B4B;
}

.destination__infos{
	margin-top: 30px;
}

.destination__infos--frame{
	padding-bottom: 35px;
}

.info__title{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	letter-spacing: 2.36px;
	color: #D0D6F9;
	text-transform: uppercase;
}

.info__number{
	font-family: 'Bellefair', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
}



@media screen and (min-width: 53em){
	.destination{
		padding-top: 150px;
		background-image: url('../../Images/background-destination-desktop.jpg');
		text-align: left;
		height: 100vh;
	}

	.title__wrap{
		padding-left: 15vw;
	}

	.content{
		display: flex;
		justify-content: space-evenly;
	}

	.destination__left{
		width: 40vw;
		padding-left: 7%;
	}

	.destination__left > img{
		margin-bottom: 0;
	}

	.destination__right{
		width: 370px;
	}

	.planets{
		justify-content: space-between;
		margin: 0;
		margin-bottom: 37px;
	}

	.planets > li{
		letter-spacing: 2.7px;
	}

	.hr{
		width: 100%;
	}

	.destination__infos{
		display: flex;
		margin-top: 30px;
	}

	.destination__infos--frame:first-of-type{
		margin-right: 55px;
	}

}









